.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 120px; 
    justify-content: flex-start; 
    align-items: start; 
}

.card:nth-child(3n+1) {
    margin-left: 230px;
}

.card:not(:nth-child(3n+1)) {
    margin-left: 0; 
}

.button-container {
    position: relative;
    display: inline-block;
    padding: 2px;
    background: linear-gradient(
      to bottom right,
      rgba(97, 12, 135, 1) 0%, 
      rgba(183, 4, 184, 1) 30%, 
      rgba(213, 47, 203, 1) 60%, 
      rgba(165, 156, 219, 1) 100%
    );
    border-radius: 12px;
    margin-top: 3px; 
    margin-left: 754px;
    margin-bottom: 40px;
  }
  

  .load-more-btn {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 160px;
    height: 48px;
    background: #110321;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 18px;
    box-sizing: border-box;
    position: relative;
  }
  

  .load-more-btn::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, 
      rgba(97, 12, 135, 1) 0%, 
      rgba(183, 4, 184, 1) 30%, 
      rgba(213, 47, 203, 1) 60%, 
      rgba(165, 156, 219, 1) 100%
    );
    z-index: -1; 
  }

  .load-more-btn:hover {
    z-index: 0;
    box-shadow: 20px 0 200px #ff00aa, -20px 0 200px #a83dff;
    background-color: #1a052b; 
  }
  



  @media (width: 1920px) {
    .card-list {
      gap: 30px 70px;
    }
  
    .card:nth-child(4n+1) {
      margin-left: 200px; 
    }

    .card:not(:nth-child(4n+1)) {
        margin-left: 0; 
    }


   
.button-container {
    position: relative;
    display: inline-block;
    padding: 2px; 
    background: linear-gradient(
      to bottom right,
      rgba(97, 12, 135, 1) 0%, 
      rgba(183, 4, 184, 1) 30%, 
      rgba(213, 47, 203, 1) 60%, 
      rgba(165, 156, 219, 1) 100%
    ); 
    border-radius: 12px;
    margin-top: 30px; 
    margin-left: 870px;
    margin-bottom: 40px;
  }
  

  .load-more-btn {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 160px;
    height: 48px;
    background: #110321;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 18px;
    box-sizing: border-box;
    position: relative;
  }
  

  .load-more-btn::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, 
      rgba(97, 12, 135, 1) 0%, 
      rgba(183, 4, 184, 1) 30%, 
      rgba(213, 47, 203, 1) 60%, 
      rgba(165, 156, 219, 1) 100%
    );
    z-index: -1;
  }
  
  
  .load-more-btn:hover {
    z-index: 0;
    box-shadow: 20px 0 200px #ff00aa, -20px 0 200px #a83dff;
    background-color: #1a052b; 
  }

  }