@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Afacan&display=swap');


.upper-block {
    margin-top: 120px; 
    margin-left: 240px; 
    text-align: left;
    background-image: url('your-image-url.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 

}

.title {
    background: linear-gradient(90deg, #fff 0%, #9f9191 100%); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: 'Arvo', serif;
    font-weight: 700;
    font-size: 64px;
    color: #fff;

    margin: 0; 
    padding: 0; 
}

.filter-container {
    margin-top: 30px; 
    display: flex;
    align-items: center; 
}


.button-wrapper {
    position: relative;
    display: inline-block;
    padding: 2px; 
    background: linear-gradient(
        to bottom right,
        rgba(97, 12, 135, 1) 0%, 
        rgba(183, 4, 184, 1) 30%, 
        rgba(213, 47, 203, 1) 60%, 
        rgba(165, 156, 219, 1) 100%
    ); 
    border-radius: 12px;
    margin-right: 50px; 
}

.filter-button {
    width: 140px;
    height: 38px;
    border-radius: 10px;
    background: #110321;
    color: #fff;
    border: none;
    cursor: pointer;
}

.filter-button:hover {
    background: #1a052b; 
    box-shadow: 20px 0 150px #ff00aa, -20px 0 150px #a83dff;
}

.input-wrapper {
    position: relative;
    display: inline-block;
    padding: 2px; 
    border-radius: 12px;
    background: linear-gradient(
        to bottom right,
        rgba(97, 12, 135, 1) 0%, 
        rgba(183, 4, 184, 1) 30%, 
        rgba(213, 47, 203, 1) 60%, 
        rgba(165, 156, 219, 1) 100%
    ); 
    margin-right: 20px;
}

.filter-input {
    width: 200px;
    height: 38px;
    border-radius: 10px;
    border: none; 
    background: #110321;
    color: #fff;
    font-size: 14px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1; 
    position: relative;
    font-weight: bold;
}

.input-wrapper::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 12px;
    padding: 2px; 
    background: linear-gradient(
        to bottom right,
        rgba(97, 12, 135, 1) 0%, 
        rgba(183, 4, 184, 1) 30%, 
        rgba(213, 47, 203, 1) 60%, 
        rgba(165, 156, 219, 1) 100%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: 0;
    
}
