:root {
    --font-family: Arial, sans-serif;
}

.glass {
    position: absolute;
    top: 132px;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
    height: 560px;
    background: linear-gradient(138deg, rgba(36, 36, 36, 0.507) 0%, rgba(138, 138, 138, 0) 100%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    box-sizing: border-box;
    padding: 20px;
    z-index: 1;
}

.avatar-container {
    position: relative;
}

.avatar-label {
    cursor: pointer;
    display: inline-block;
}

.avatar {
    position: absolute;
    top: 20px;
    
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.3);
    object-fit: cover;
    transition: all 0.3s ease;
}

.avatar:hover {
    opacity: 0.45; /* темніша картинка при наведенні */
}

.avatar-upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* робимо поле для завантаження невидимим */
    cursor: pointer;
}

.username {
    position: absolute;
    top: 230px;
    width: 95%;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    margin-bottom: 45px;
   
    flex-shrink: 0;          /* Забороняє розтягування блоку */
    flex-shrink: 0;          /* Забороняє розтягування блоку */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.field-group {
    position: absolute;
    top: 332px;
    left: 115px;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: #b8b6b6;
    margin-bottom: 7px;
    width: 320px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.field.address {
    max-width: 148px;
}

.underline {
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 0px;
    margin-bottom: 7px;
}

.underline.short {
    width: 250px;
}

.underline.long {
    width: 320px;
}

.stats-group {
    position: absolute;
    top: 332px;
    left: 540px;
}

.stats-group .field {
    margin-bottom: 7px;
    width: 250px;
}

.stats-group .underline {
    margin-bottom: 7px;
}
