
node_modules/
.env


frontend/build/

backend/dist/

smart-contracts/artifacts/
smart-contracts/cache/


node_modules/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db


.env

/dist
/build


.vscode/
.idea/

*.swp
*.swo

coverage/


bower_components/


.env*

*.tgz


